.dp img{
  height: 500px;
  width: 500px
}
.time-line a{
  color: #FDB631;
}
.card{
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover !important;
  height:calc(80vh - 80px);;
  position:relative
}
.card h3{
  color:#FDB631;
}
.card-content{
  padding-top: 30px;
  padding-left: 10px;
}
