.dp img{
  height: 500px;
  width: 500px;
}
.time-line a{
  color: #FDB631;
}
.card{
  height:calc(60vh - 80px);;
  background-size: cover !important;
  color: white;
}
.card-content{
  padding-top: 60px;
  padding-left: 10px;
}
