// Specific CSS for your home-page
body {
  background-color:white;
}
.paint{
  color:#FDB631;
}
.head img{
  height: 100px;
  padding-bottom: 20px;
}
.intro h1{
  font-size: 70px;
}
.push h1{
  color:#FDB631;
}
.push:hover{
  background-image:url(tslc.jpg) ;
  background-size: cover !important;
  border: 3px solid black;

}
.push2 h1{
  color:#FDB631;
}
.push2:hover{
  background-image:url(grap.jpg) ;
  background-size: cover !important;
  border: 3px solid black;
}
.push3 h1{
  color:#FDB631;
}
.push3:hover{
  background-image: url(smile.jpg);
  background-size: cover !important;
  border: 3px solid black;
}
.banner {
  color: white;
  text-align: left;
  height:calc(100vh - 80px);;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}
.banner2 {
  color: white;
  text-align: left;
  height:calc(100vh - 80px);;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-align:left;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.wrapped h6{
  color: #FDB631;
}
