// Specific CSS for your home-page
body {
  background-color:white;
}
.head img{
  height: 150px;
  padding-bottom: 20px;
}
.intro img{
  height: 300px;
}
  .intro h1{
  text-align: left;
}
.intro p {
  text-align: justify;
}
