// Specific CSS for your home-page
body {
  background-color:white;
}
.box{
  background-color:#F4F4F4;
}


.head img{
  height: 100px;
  padding-bottom: 20px;
}
.intro h1{
  font-size: 70px;
}

.push h1{
  color:#FE9635;
}
.intro h1:hover{
  font-size: 90px;
}
.banner {
  color: white;
  text-align: left;
  height:calc(100vh - 80px);;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}
.banner2 {
  color: white;
  text-align: left;
  height:calc(100vh - 80px);;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-align:left;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.wrapped h5{
  color:#FE9635;
}
