<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="https://www.instagram.com/miryamroper/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/miryamroper/?hc_ref=SEARCH"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com/miryamroper/""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <%= image_tag "logo.png" %>
      </div>
    </div>
  </div>
</div>
