<div class="container pad">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="dp img-responsive dp">
        <%= image_tag('dp.jpg')%>
      </div>
    </div>
    <div class="col-sm-8">
      <h1>MIRYAM ROPER</h1>
      <h3 class="paint">Atleta olímpico</h3>
      <br>
      <br>
      <p>
        Miryam Roper de 35 años de edad, con doble nacionalidad, hija de madre alemana, radicada en Colonia y padre panameño, de familia radicada en La Chorrera. Actualmente ha ganado varias medallas en campeonatos mundiales y europeos. Ha logrado ser la primera y única atleta alemana en ocupar el puesto número uno del ranking mundial de judo. Realizó su sueño de la infancia, participando dos veces consecutivas en los Juegos Olímpicos: la primera vez en 2012 en Londres y luego en el 2016 en Río de Janeiro.
      </p>
      <p>
        En camino a sus triunfos, Miryam ha tenido que superar varios obstáculos. No tiene los mejores entrenadores, ni las mejores condiciones. Pocos creen en sus capacidades. Pero esa es la virtud de Miryam Roper. Lo aparentemente imposible es su reto. Tiene una tenacidad incontenible y tanta confianza en sí misma que no se deja desanimar, ni por derrota ni por lesiones. A sus 25 años fue nominada al equipo nacional de Alemania, una edad en que otros piensan poner fin a su carrera deportiva.
      </p>
      <p>
        A pesar de la triple carga de entrenar, estudiar y trabajar la luchadora aguerrida ha llegado a ser la líder en Alemania, en su peso menos de 57kg.
      </p>
      <br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Seguir Leyendo</button>
      <br>
      <br>
      <div id="demo" class="collapse">
       <p>
        Para llegar a ser la número uno del mundo debió tomar una decisión difícil, en el 2010, entra en el ejército, donde encuentra las estructuras óptimas para hacer deporte a alto nivel y con éxito, en los siguientes años ganó varias medallas en las competencias del circuito mundial Grand Slams y Grand Prix, hasta la medalla de bronce en los Campeonatos mundiales en el 2013. En el transcurso de todos estos años, ella ha motivado tanto jóvenes como adultos, con su pasión por el judo, su estilo espectacular de combate y su sonrisa deslumbrante.
      </p>
      <p>
        Desde el 2017, decide representar a su otra tierra, la patria de su padre, “Panamá” y emprende un camino lleno de nuevos retos, con el afán de superar cada uno de ellos, hasta lograr ser calificada como representante panameña y ganar una medalla en las próximas olimpiadas Tokyo 2020.
      </p>
      “Imposible!”, dicen muchos. “Querer es poder”, contestará la extraordinaria Miryam Roper.
    </p>
  </div>
</div>
</div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-sm-7 col-xs-12 text-center paint">
     <h1>MI PASION</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-9 col-xs-12">
    <p>
     Cuando estoy en el tatami me siento en mi hogar, es mi elemento. El judo es un deporte completo donde tienes que estar física y mentalmente fuerte, en un combate honesto, uno a uno. Me fascina porque siempre tengo algo que aprender. Cada acción tiene una reacción. En cualquier momento tu oponente puede hacer un movimiento y hacerte caer, así que siempre hay un reto que resolver.
   </p>
   <p>
     Lo que también amo del judo es que somos como una familia. He ganado muchas amistades por todo el mundo. No importa de dónde eres, tus creencias, tus orígenes o cuánto ganas, todos hablamos Judo. Después de una competencia entrenamos juntos y varias veces al año nos encontramos en entrenamientos donde competimos, sentimos las estrategias del otro y luego somos oponentes. Podría sonar raro, pero es uno de los principios básicos del judo: ayudarte a ti mismo y a los demás de forma tal que todos mejoren.
   </p>
   <br>
   <div class>
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Seguir Leyendo</button>
   </div>
   <br>
   <div id="demo2" class="collapse">
     <p>
       Por supuesto que también se trata de ganar y eso me encanta. Estoy trabajando duro para lograrlo. Más que eso el judo enseña valores que te ayudan en todos los aspectos de la vida. Por ejemplo, en el saludo antes y después de competir se demuestra respeto y reconocimiento por el esfuerzo del contrincante.
       <br>
       Soy afortunada que mis padres hayan deseado que sus hijos practicaran judo, porque necesitábamos gastar mucha energía, yo en particular. Necesitábamos hacer deportes y movimiento. Con el judo me enamoré a primera vista. No todo el mundo puede decir que le apasiona algo y en esto yo descubrí mucho de lo mío.
     </p>
     <p>
      Mi sueño de niña era participar en los Juegos Olímpicos. Al entrenar duro, ganando y perdiendo he marcado mi meta para ganar una medalla olímpica. Me siento motivada por eso aunque algunas personas habrían desistido después de tener experiencias como la mía. Sin embargo me encanta competir y tengo fe en alcanzar esa última meta porque es algo que aún me queda por hacer.
    </p>
    <p>
      Representar el país de mi padre, compartir mi pasión por el judo y el deporte en Panamá también es importante para mí. Expresar mi panameñidad a través de lo que amo me hace sentir completa. Traer una medalla olímpica a mi segunda patria sería un sueño hecho realidad. Quiero demostrar al mundo y especialmente a la juventud que nada es imposible si crees en ti mismo y trabajas duro. Aunque necesites algo de suerte.
    </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
