<div class="banner" style="background-image: url('<%= image_path('bio.png')%> ');background-position: center;  ">
  <div class="banner-content">
    <h1>Miryam Roper</h1>
    <p class="paint"">ATLETA OLÍMPICA</p>
  </div>
</div>
<div class="box1">
  <div class="container ">
    <div class="row">
      <br>
      <div class="col-xs-12" style="text-align: justify;">
        <p>
         Miryam Roper es una judoka olímpica de 35 años, de origen alemán y panameño.
         Miryam tiene sus inicios en judo a los 7 años de edad, cuando su papá decidió llevarla a tomar clases de judo. Desde entonces, su carrera se fue desarrollando entre viajes desde el pueblo donde vivía con su familia hasta el lugar donde tenía su entrenamiento.
       </p>
       <p>
        A sus 25 años de edad, Miryam fue seleccionada para  formar parte del grupo élite de la selección nacional de judo de Alemania. De la misma manera, el Club Bayern le ofreció ser parte de este mundialmente renombrado club.En el año 2013, con 31 años de edad, Miryam logró coronarse como la #1 del mundo en los Juegos Mundiales de Judo. Ha participado en dos juegos olímpicos con la Selección de Judo de Alemania: Londres 2012 y Río de Janeiro 2016.
      </p>
      <br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="border-radius: 50px;">Seguir Leyendo</button>
      <br>
      <br>
      <br>
      <div id="demo" class="collapse">
        <p>
          En el año 2017, Miryam decide representar a Panamá, su otra patria, teniendo a su vez,  grandes desafíos. Pero, esto no impidió que lograra la primera medalla de oro para Panamá en una competencia de Judo, seguido de una medalla de plata en Cancún, y el quinto lugar en los Juegos Mundiales de Judo.
        </p>
        <p>
          Miryam es una atleta sin límites, su tenacidad, persistencia, y sobre todo, su determinada resiliencia, son valores destacados por entrenadores, compañeros, familiares y espectadores.
        </p>
        <p>
          Actualmente,  Miryam es la judoka #4 del mundo en el Ranking Mundial de Judo de -57 kgs. Siendo este un logro que muy pocos esperaban que lograra debido a su edad. Su siguiente desafío es llegar a las Olimpiadas 2020, en donde dejará todo para conseguir lo que nunca antes ha sido logrado: una medalla para Panamá.
        </p>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
<div class="box2">
  <div class="container padded">
    <div class="row">
      <div class=" col-xs-12 text-center">
        <h3>PASIÓN</h3>
        <h4>Cuando estoy en el tatami me siento en mi hogar, es mi elemento.</h4>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="text-align: justify;">
        <p>
          El judo es un deporte completo donde tienes que estar física y mentalmente fuerte, en un combate honesto, uno a uno. Me fascina porque siempre tengo algo que aprender. Cada acción tiene una reacción. En cualquier momento tu oponente puede hacer un movimiento y hacerte caer, así que siempre hay un reto que resolver.
        </p>
        <p>
         Lo que también amo del judo es que somos como una familia. He ganado muchas amistades por todo el mundo. No importa de dónde eres, tus creencias, tus orígenes o cuánto ganas, todos hablamos Judo. Después de una competencia entrenamos juntos y varias veces al año nos encontramos en entrenamientos donde competimos, sentimos las estrategias del otro y luego somos oponentes. Podría sonar raro, pero es uno de los principios básicos del judo: ayudarte a ti mismo y a los demás de forma tal que todos mejoren.
       </p>
       <div class>
        <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" style="border-radius: 50px;">Seguir Leyendo</button>
      </div>
      <div id="demo2" class="collapse">
        <br>
        <br>
        <p>
         Por supuesto que también se trata de ganar y eso me encanta. Estoy trabajando duro para lograrlo. Más que eso el judo enseña valores que te ayudan en todos los aspectos de la vida. Por ejemplo, en el saludo antes y después de competir se demuestra respeto y reconocimiento por el esfuerzo del contrincante.
         <br>
         Soy afortunada que mis padres hayan deseado que sus hijos practicaran judo, porque necesitábamos gastar mucha energía, yo en particular. Necesitábamos hacer deportes y movimiento. Con el judo me enamoré a primera vista. No todo el mundo puede decir que le apasiona algo y en esto yo descubrí mucho de lo mío.
       </p>
       <p>
        Mi sueño de niña era participar en los Juegos Olímpicos. Al entrenar duro, ganando y perdiendo he marcado mi meta para ganar una medalla olímpica. Me siento motivada por eso aunque algunas personas habrían desistido después de tener experiencias como la mía. Sin embargo me encanta competir y tengo fe en alcanzar esa última meta porque es algo que aún me queda por hacer.
      </p>
      <p>
        Representar el país de mi padre, compartir mi pasión por el judo y el deporte en Panamá también es importante para mí. Expresar mi panameñidad a través de lo que amo me hace sentir completa. Traer una medalla olímpica a mi segunda patria sería un sueño hecho realidad. Quiero demostrar al mundo y especialmente a la juventud que nada es imposible si crees en ti mismo y trabajas duro. Aunque necesites algo de suerte.
      </p>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
