<div class="about pad"">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center padded">
      <%= image_tag("dbz.jpg")%>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled padded">
      <h3>Miryam Roper</h3>
      <h4>miryamromperpanama@gmail.com</h4>
      <h4>@miryamromper</h4>
      <h4>Entrevistas y prensa: </h4>
      <h4>prensa@puntobohemio.com</h4>
      <h4>+507 62838609</h4>
      <%= link_to "Escribeme", new_letter_path, class: "btn btn-info",style: "border-radius: 50px;"%>
    </ul>
  </div>
</div>
</div>
<br>
<br>
</div>
