<div class="banner" style="background-image: url('<%= image_path('banner.jpg')%> ');  ">
  <div class="banner-content">
    <h1>Miryam Roper</h1>
    <p>Te patea el culo</p>
    <h6 class="btn btn-info">Bio</h6>
  </div>
</div>
<div class="padded">
  <div class="intro"">
    <div class="container">
      <div class="row text-center">
        <h2>CARRERA</h2>
        <br>
        <br>
        <div class="col-sm-4 text-center">
          <div class="push">
            <h1>10</h1>
            <br>
            <p>Titulos</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="push2">
            <h1>+ 30</h1>
            <br>
            <p>Competiciones</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="push3">
          <h1>6</h1>
          <br>
          <p>Años</p>
        </div>
        </div>
      </div>
    </div>

    <div class="text-center" style="padding-top: 70px">
     <h6 class="btn btn-info" >Ver</h6>
   </div>
 </div>
 <div class="pad">
  <div class="wrapped">
    <div class="container">
      <div class="row">
        <div class ="text-center">
          <div class="col-xs-12">
            <hr>
            <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
            <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
            <h6>28 Aug 2017</h6>
            <br>
            <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="intro">
  <div class="container">
    <div class="row pad">
      <div class="col-sm-6 text-center">
        <h2>Carrera</h2>
        <br>
        <p>"I've never really thought as myself as a savior, I just want to fight strong opponents. But I can't just stand by and watch innocent <br> people and animals suffer. <br>That's what my grandpa taught me. "</p>
      </div>
      <div class="col-sm-6 text-center">
        <%= image_tag('goku.png')%>
      </div>
    </div>
  </div>
</div> -->

