<div class="intro">
  <div class="container">
    <hr>
    <div class="row pad">
      <div class="col-sm-6 text-center">
        <%= image_tag('gokuavatar.png')%>
      </div>
      <div class="col-sm-6">
        <h1>Saiyan Son Goku</h1>
        <br>
        <p>"I am the answer to all living things that cry out for peace. <br>I am protector of the innocent. I am the light in the darkness. <br> I am truth. Ally to good! Nightmare to you!"</p>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="intro">
  <div class="container">
    <div class="row pad">
      <div class="col-sm-6 text-center">
        <h2>Carrera</h2>

        <br>
        <p>"I've never really thought as myself as a savior, I just want to fight strong opponents. But I can't just stand by and watch innocent <br> people and animals suffer. <br>That's what my grandpa taught me. "</p>
      </div>
      <div class="col-sm-6 text-center">
        <%= image_tag('goku.png')%>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pad">
    <hr>
    <div class ="text-center">
      <div class="col-xs-12">
        <h2>Goku vs Frieza</h2>
        <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=byxjQKcNpSs">Base from Goku vs Frieza [HD]</a></h4><p>Goku vs Frieza (Full Base Fight) San Goku vs Lord Frieza (DRAGONBALL Z) full basement fight in HighDefinition Quality.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>
