<br>
<br>
<div class="banner" style="background-image: url('<%= image_path('banner.jpg')%> ');  ">
  <div class="banner-content">
    <h1>Miryam Roper</h1>
    <p>Atleta olímpico</p>
    <%= link_to "  Biografia  ", pages_biografia_path, class: "btn btn-info",style: "border-radius: 50px;"%>
  </div>
</div>
<div class="padded">
  <div class="intro"">
    <div class="container">
      <div class="row text-center">
        <h2>CARRERA</h2>
        <br>
        <br>
        <div class="col-sm-4 text-center">
          <div class="push">
            <h1>+ 200</h1>
            <br>
            <p>Peleas</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="push2">
            <h1>+ 50</h1>
            <br>
            <p>Competiciones</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="push3">
          <h1>10</h1>
          <br>
          <p>Años</p>
        </div>
        </div>
      </div>
    </div>

    <div class="text-center pad" style="padding-top: 70px">
     <%= link_to "Ver", pages_carrera_path, class: "btn btn-info"%>
   </div>
 </div>
 <div class="">
  <div class="box">
    <div class="container">
      <div class="row">
        <div class ="text-center">
          <div class="col-xs-12">
            <hr>
            <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
            <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
            <h6 class="paint">28 Aug 2017</h6>
            <br>
            <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


