 <h1 class = "padded text-center">VIDEOS</h1>
 <div class="padded">
  <div class="wrapped">
    <div class="container">
      <div class="row">
        <div class ="text-center">
          <div class="col-xs-6">
            <hr>
            <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
            <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
            <h6>28 Aug 2017</h6>
            <br>
            <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
          <div class="col-xs-6">
            <hr>
            <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
            <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
            <h6>28 Aug 2017</h6>
            <br>
            <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapped">
  <div class="container">
    <div class="row">
      <div class ="text-center">
        <div class="col-xs-6">
          <hr>
          <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
          <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
          <h6>28 Aug 2017</h6>
          <br>
          <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <hr>
        </div>
        <div class="col-xs-6">
          <hr>
          <h2>MIRYAM ROPER - SEVARA NISHANBAYEVA</h2>
          <h4> WORLD CHAMPIONSHIPS BUDAPEST 2017</h4>
          <h6>28 Aug 2017</h6>
          <br>
          <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

