
<h3 class = "padded text-center">VIDEOS</h3>
<div class="padded">
  <div class="wrapped">
    <div class="container">
      <div class="row">
        <div class ="text-center">
          <div class="col-xs-6">
            <hr>
            <h3>MIRYAM ROPER - SEVARA NISHANBAYEVA</h3>
            <h5>WORLD CHAMPIONSHIPS BUDAPEST 2017</h5>
            <h6>28 Aug 2017</h6>
              <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?time_continue=9&v=iGu8zcXNKZ0">wc sen2017 w 0057 0039</a></h4><p>Uploaded by Judo on 2017-08-30.</p></blockquote>
              <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
          <div class="col-xs-6">
            <hr>
            <h3>MIRYAM ROPER -  <br>AMELIA FULGENTES</h3>
            <h5>GRAND PRIX CANCUN 2017</h5>
            <h6>16 Jun 2017</h6>
              <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=XXkXY1zIn4I">gp mex2017 w 0057 0009</a></h4><p>Uploaded by Judo on 2017-06-16.</p></blockquote>
              <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="wrapped">
  <div class="container">
    <div class="row">
      <div class ="text-center">
        <div class="col-xs-6">
          <hr>
          <h3>MIRYAM ROPER - IRINA ZABLUDINA</h3>
          <h5>GRAND SLAM EKATERINBURG 2017</h5>
          <h6>20 May 2017</h6>
          <br>
          <br>
          <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=t4keSx8uWI0">gs rus2017 w 0057 0026</a></h4><p>Uploaded by Judo on 2017-05-20.</p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <hr>
        </div>
        <div class="col-xs-6">
          <hr>
          <h3>MIRYAM ROPER - RAFAELA SILVA</h3>
          <h5>GRAND PRIX HAVANA 2016</h5>
          <h6>22 Jan 2016</h6>
          <br>
          <br>
          <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=1WwqtD_LUrI">gp_cub2016_w_0057_0026</a></h4><p>Uploaded by Judo on 2016-01-23.</p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center pad">
  <a href="http://www.judoinside.com/judoka/15886/Miryam_Roper/judo-videos" class="btn btn-info">
    <h6>
      Ver más
    </h6>
  </a>
</div>
