.pad{
  padding-top: 100px;
  padding-bottom: 70px;
}
.space{
  padding-top: 50px;
  padding-bottom: 50px;
}
.padded{
  padding-top: 50px;
}

.frame img {
  height: 300px ;

}
.paint{
  color:#FE9635;
}
